/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define HLHOLD(X) &mt LS(LA(X)) LA(X)

#define DEFAULT 0
#define HERBST  1
#define NUM     2
#define NAV     3

&left_encoder { resolution = <2>; };
&right_encoder { resolution = <2>; };


/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        quit: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LC(C)>, <&kp LA(LS(C))>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			//bindings = <
	//&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
	//&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	//&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                 //&kp LGUI &kp DEL &kp RET &kp SPACE &kp ESC        &kp RET  &kp SPACE  &kp TAB &kp BSPC &kp RALT
			//>;

			bindings = <
	&kp ESC    &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSLH
	&kp TAB    &hm LGUI A &hm LALT R &hm LSHFT S &hm LCTRL T &kp G                     &kp M &hm RCTRL N  &hm LSHFT E &hm RALT I &hm RGUI O    &kp SQT
    &kp LSHIFT &kp Z &kp X &kp C &kp D &kp V &kp LSHFT &kp LSHFT                   &kp LSHFT &kp LSHFT &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                 &kp LGUI &kp DEL &lt NUM RET &lt HERBST SPACE &lt NAV ESC        &kp RET  &mt LSHFT SPACE &kp BSPC  &kp TAB &kp RALT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		herbst_layer {
			bindings = <
	&bt BT_SEL 0 HLHOLD(F5) HLHOLD(F4) HLHOLD(F3) HLHOLD(F2) HLHOLD(F1)                                   &quit &kp LA(U) HLHOLD(UP) &kp LA(SPACE) &kp LA(F) &kp LA(P)
	&bt BT_SEL 1 HLHOLD(N5) HLHOLD(N4) HLHOLD(N3) HLHOLD(N2) HLHOLD(N1)                                   &kp LA(RET) HLHOLD(LEFT) HLHOLD(DOWN) HLHOLD(RIGHT) &kp LA(LC(LEFT)) &kp LA(LC(RIGHT))
    &bt BT_SEL 2 HLHOLD(F12) HLHOLD(F11) HLHOLD(F10) HLHOLD(Y) HLHOLD(Y) HLHOLD(O) &trans   &trans &trans &kp LA(R) &kp LA(M) &kp LA(COMMA)  &trans &kp LA(LC(UP)) &kp LA(LC(DOWN))
                       &trans &trans &trans &trans &trans                                &trans &trans &trans &trans &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		num_layer {
			bindings = <
	&trans &trans &trans &trans &trans &trans                                                &trans  &kp N7 &kp N8 &kp N9 &trans &trans
	&trans &trans &trans &trans &trans &trans                                                &trans  &kp N4 &kp N5 &kp N6 &trans &trans
    &trans &trans &trans &trans &trans &trans &trans &trans                        &trans &trans &kp N0 &kp N1 &kp N2 &kp N3 &trans &trans
	                  &trans &trans &trans &trans &trans                        &trans &trans &trans &trans &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		nav_layer {
			bindings = <
	&trans &trans &trans &trans &trans &trans                                                &trans  &trans &kp UP &trans &trans &trans
	&trans &trans &trans &trans &trans &trans                                                &trans  &kp LEFT &kp DOWN &kp RIGHT &trans &trans
//  &trans &trans &trans &trans &trans &trans &trans &trans                        &trans &trans &trans &trans &trans &trans &trans &trans
	                  &trans &trans &trans &trans &trans                        &trans &trans &trans &trans &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};
	};
};


//	&trans &trans &trans &trans &trans &trans                                                &trans &trans &trans &trans &trans &trans
//	&trans &trans &trans &trans &trans &trans                                                &trans &trans &trans &trans &trans &trans
//  &trans &trans &trans &trans &trans &trans &trans &trans                        &trans &trans &trans &trans &trans &trans &trans &trans
//                    &trans &trans &trans &trans &trans                        &trans &trans &trans &trans &trans
